<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      lang="en">

<head>
    <title>Home page</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.bundle.min.js"></script>

    <style>
        td.rejected {
            background: LightSalmon;
        }

        td.approved {
            background: PaleGreen;
        }

        td.pending {
            background: SeaShell;
        }

        .custom-btn {
            min-width: 200px;
        }

        .Row {
            display: table;
            width: 100%; /*Optional*/
            table-layout: fixed; /*Optional*/
            border-spacing: 0px; /*Optional*/
        }
        .Column {

            position: center;
        }
    </style>

</head>

<body>

<div th:replace="fragments/navigation.html :: topBar"></div>

<div class="container">
    <br>
    <h3 th:text="#{home.directoryName}"></h3>
    <br>

    <div sec:authorize="hasRole('ROLE_USER')">
        <div style="float: left;">
                <h6 th:text="#{home.createButtonLabel}"></h6>
                <a th:href="@{/showFormForAdd}" class="btn custom-btn btn-primary btn-md mr-5"
                   th:text="#{home.createButton}"></a>
        </div>
        <div style="float: left;">
                <h6 th:text="#{home.uploadButtonLabel}"></h6>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <button class="btn btn-primary" type="button" th:text="#{home.uploadButton}"></button>
                    </div>
                    <div class="custom-file">
                        <input type="file" class="custom-file-input" id="inputFile">
                        <label class="custom-file-label" for="inputFile" th:text="#{home.chooseFile}"></label>
                    </div>
                </div>
        </div>
        <div style="float: right;">

                <h6 th:text="#{home.dropdownLabel}"></h6>
                <!-- Dropdown -->
                <select class="form-control selectpicker ">
                    <option value="" selected disabled th:text="#{home.statusLabel}"></option>
                    <option th:each="status : ${statuses}"
                            th:value="${status.id}"
                            th:text="#{${status.name}}"></option>
                </select>
        </div>
    </div>

    <div sec:authorize="hasRole('ROLE_ADMIN')">
        <div style="float: left;">
                <h6 th:text="#{home.searchLabel}"></h6>
                <form th:action="@{/users/search}" class="form-inline">
                    <input class="form-control mr-sm-3 mb-3 " type="search" name="userName"
                           th:placeholder="#{home.findBy}"/>
                    <button class="btn btn-success mb-3" type="submit" th:text="#{home.search}"></button>
                </form>
        </div>
        <div style="float: right;">
                <h6  th:text="#{home.reportTypeLabel}"></h6>
                <div class="input-group" >
                    <select class="form-control selectpicker ">
                        <option value="" selected disabled th:text="#{home.reportType}"></option>
                        <option th:each="type : ${userTypes}"
                                th:value="${type.id}"
                                th:text="#{${type.name}}"></option>
                    </select>
                </div>
        </div>
    </div>

    <table class="table table-bordered table-striped ">
        <thead class="thead-dark">
        <tr>
            <th sec:authorize="hasRole('ROLE_USER')" th:text="#{home.reports}"></th>
            <th sec:authorize="hasRole('ROLE_ADMIN')" th:text="#{home.viewUserReports}"></th>
            <th>
                <a th:href="@{/(page=${pageable.pageNumber},sort=reportDate)}" th:text="#{home.reportDate}"></a>
            </th>
            <th sec:authorize="hasRole('ROLE_ADMIN')" th:text="#{home.reportType}"></th>
            <th>
                <a th:href="@{/(page=${pageable.pageNumber},sort=createdAt)}" th:text="#{home.dateSubmitted}"></a>
            </th>
            <th>
                <a th:href="@{/(page=${pageable.pageNumber},sort=status)}" th:text="#{home.status}"></a>
            </th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="tempReport : ${page}">
            <td th:classappend="${tempReport.status.name}">
                <a sec:authorize="hasRole('ROLE_ADMIN')"
                   th:href="@{/updateReport/{reportId}(reportId=${tempReport.id})}"
                   th:text="${tempReport.user.firstName} + ' ' + ${tempReport.user.lastName}"></a>
                <a sec:authorize="hasRole('ROLE_USER')" th:href="@{/updateReport/{reportId}(reportId=${tempReport.id})}"
                   th:text="#{home.viewReport}"></a>
            </td>
            <td th:text="${#dates.format(tempReport.reportDate, 'dd-MMMM-yyyy')}"
                th:classappend="${tempReport.status.name}"></td>
            <td sec:authorize="hasRole('ROLE_ADMIN')" th:text="#{${tempReport.user.type.name}}"
                th:classappend="${tempReport.status.name}"></td>
            <td th:text="${#dates.format(tempReport.createdAt, 'dd-MMMM-yyyy HH:mm:ss')}"
                th:classappend="${tempReport.status.name}"></td>
            <td th:text="#{${tempReport.status.name}}"
                th:classappend="${tempReport.status.name}"></td>
        </tr>
        </tbody>
    </table>

    <div>
        <div style="float: left;">
            <p th:text="#{home.pagesFound} + ' ' + ${page.getTotalElements()}"></p>
        </div>
        <div style="float: right;">
            <nav aria-label="Page navigation" class="paging">
                <ul class="pagination" th:if="${page.totalElements > 1}">
                    <li class="page-item" th:classappend="${!page.hasPrevious()? 'disabled' : ''}">
                        <a class="page-link" th:href="@{'/'(page=${pageable.pageNumber - 1})}" tabindex="-1"
                           th:text="#{home.previous}"></a>
                    </li>

                    <th:block th:with="pages = (${page.totalPages} > 10 ? 10 : ${page.totalPages})">
                        <th:block th:each="item : ${#numbers.sequence(1, pages)}">
                            <li class="page-item" th:classappend="${item == pageable.pageNumber+1? 'active' : ''}">
                                <a class="page-link" th:href="@{/(page=${item-1})}" th:text="${item}"></a>
                            </li>
                        </th:block>
                    </th:block>
                    <li class="page-item" th:classappend="${!page.hasNext() || pageable.pageNumber >= 9? 'disabled' : ''}">
                        <a class="page-link" th:href="@{/(page=${pageable.pageNumber}+1)}" th:text="#{home.next}"></a>
                    </li>
                    <li class="page-item disabled" th:if="${page.getTotalPages() > 5}">
                        <a class="page-link" href="#">...</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>


<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>


</body>
</html>









