<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      lang="en">

<head>
    <title>Home page</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.bundle.min.js"></script>

    <style>
        td.rejected {
            background: LightSalmon;
        }

        td.approved {
            background: PaleGreen;
        }

        td.pending {
            background: SeaShell;
        }

        .custom-btn {
            min-width: 200px;
        }

        input[type="search"]::-webkit-search-cancel-button {
            -webkit-appearance: searchfield-cancel-button;
        }

    </style>
</head>

<body>

<div th:replace="fragments/navigation.html :: topBar"></div>

<div class="container">
    <br>
    <h3 th:text="#{home.directoryName}"></h3>
    <br>

    <div sec:authorize="hasRole('ROLE_USER')">

        <div th:if="${fileFormatError}" class="alert alert-danger col-xs-offset-1 col-xs-10">
            <span th:text="#{error.fileFormatError}"></span>
        </div>

        <div th:if="${emptyFileError}" class="alert alert-danger col-xs-offset-1 col-xs-10">
            <span th:text="#{error.emptyFileError}"></span>
        </div>

        <div th:if="${reportNotFound}" class="alert alert-danger col-xs-offset-1 col-xs-10">
            <span th:text="#{error.reportNotFound}"></span>
        </div>



        <div class="btn-toolbar justify-content-between">
            <!--Create Report Button-->
            <div>
                <h6 th:text="#{home.createButtonLabel}"></h6>
                <a class="btn custom-btn btn-primary" th:href="@{/showFormForAdd}" th:text="#{home.createButton}"></a>
            </div>
            <!--Upload File-->
            <form th:action="@{/report/upload}" method="POST" enctype="multipart/form-data">
                <h6 th:text="#{home.uploadButtonLabel}"></h6>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <button class="btn btn-primary" type="submit" th:text="#{home.uploadButton}"></button>
                    </div>
                    <div class="custom-file">
                        <input type="file" class="custom-file-input" id="inputFile" name="file">
                        <label class="custom-file-label" for="inputFile" style="color:lightgray"
                               th:text="#{home.chooseFile}"></label>
                    </div>
                </div>
            </form>
            <!--Dropdown-->
            <form th:action="@{/}" th:object="${reportSearchForm}" method="POST">
                <div>
                    <h6 th:text="#{home.dropdownLabel}"></h6>
                    <select class="form-control selectpicker" th:field="*{status}"
                            onchange="this.form.submit(); return false;">
                        <option value="" th:text="#{home.statusLabel}"></option>
                        <option th:each="status : ${statuses}"
                                th:value="${status.id}"
                                th:text="#{${status.name}}"></option>
                    </select>
                </div>
            </form>
        </div>
    </div>

    <form sec:authorize="hasRole('ROLE_ADMIN')" th:action="@{/}" th:object="${reportSearchForm}" method="POST">
        <div class="row">
        <div class="col-xs-6 col-md-4">
            <h6 th:text="#{home.searchLabel}"></h6>
            <div class="input-group">
                <input class="form-control  mb-3 " type="search" th:field="*{name}" th:placeholder="#{home.findBy}"
                       onchange="this.form.submit(); return false;"/>
                <input type="hidden" value="${sort}"/>
                <div class="input-group-btn">
                <button class="btn btn-success mb-3" type="submit" th:text="#{home.search}"></button>
                </div>
            </div>
        </div>
        <div >
            <h6 th:text="#{home.reportTypeLabel}" class="ml-5"></h6>
            <div class="input-group">

                <select th:field="*{type}" class="form-control selectpicker ml-5"
                        onchange="this.form.submit(); return false;">
                    <option value="" th:text="#{home.all}"></option>
                    <option th:each="type : ${userTypes}"
                            th:value="${type.id}"
                            th:text="#{${type.name}}"></option>
                </select>
            </div>
        </div>
        </div>
    </form>

    <table class="table table-bordered table-striped ">
        <thead class="thead-dark">
        <tr>
            <th sec:authorize="hasRole('ROLE_USER')" th:text="#{home.reports}"></th>
            <th sec:authorize="hasRole('ROLE_ADMIN')" th:text="#{home.viewUserReports}"></th>
            <th sec:authorize="hasRole('ROLE_ADMIN')" th:text="#{home.reportType}"></th>
            <th>
                <a th:with="rdSort = ${sort == 'reportDate,desc' ? 'reportDate,asc' : 'reportDate,desc'}"
                   th:href="@{/(page=${pageable.pageNumber},sort=${rdSort})}" th:text="#{home.reportDate}"></a>
            </th>
            <th>
                <a th:with="createdSort = ${sort == 'createdAt,desc' ? 'createdAt,asc' : 'createdAt,desc'}"
                   th:href="@{/(page=${pageable.pageNumber},sort=${createdSort})}" th:text="#{home.dateSubmitted}"></a>
            </th>

            <th>
                <a th:with="modifiedSort = ${sort == 'lastModified,desc' ? 'lastModified,asc' : 'lastModified,desc'}"
                   th:href="@{/(page=${pageable.pageNumber},sort=${modifiedSort})}" th:text="#{home.lastModified}"></a>
            </th>

            <th>
                <a th:with="statusSort = ${sort == 'status.name,desc' ? 'status.name,asc' : 'status.name,desc'}"
                   th:href="@{/(page=${pageable.pageNumber},sort=${statusSort})}" th:text="#{home.status}"></a>
            </th>

        </tr>
        </thead>

        <tbody>
        <tr th:each="tempReport : ${page}">
            <td th:classappend="${tempReport.status.name}">
                <a sec:authorize="hasRole('ROLE_ADMIN')"
                   th:href="@{/updateReport/{reportId}(reportId=${tempReport.id})}"
                   th:text="${tempReport.user.firstName} + ' ' + ${tempReport.user.lastName}"></a>
                <a sec:authorize="hasRole('ROLE_USER')" th:href="@{/updateReport/{reportId}(reportId=${tempReport.id})}"
                   th:text="#{home.viewReport}"></a>
            </td>
            <td sec:authorize="hasRole('ROLE_ADMIN')" th:text="#{${tempReport.user.type.name}}"
                th:classappend="${tempReport.status.name}"></td>

            <td th:text="${#dates.format(tempReport.reportDate, 'dd-MM-yyyy')}"
                th:classappend="${tempReport.status.name}"></td>

            <td th:text="${#dates.format(tempReport.createdAt, 'dd-MM-yyyy HH:mm:ss')}"
                th:classappend="${tempReport.status.name}"></td>

            <td th:text="${#dates.format(tempReport.lastModified, 'dd-MM-yyyy HH:mm:ss')}"
                th:classappend="${tempReport.status.name}"></td>

            <td th:text="#{${tempReport.status.name}}"
                th:classappend="${tempReport.status.name}"></td>
        </tr>
        </tbody>
    </table>

    <div>
        <div style="float: left;">
            <p th:text="#{home.pagesFound} + ' ' + ${page.getTotalElements()}"></p>
        </div>
        <div style="float: right;">
            <nav aria-label="Page navigation" class="paging">
                <ul class="pagination" th:if="${page.totalElements > 1}">
                    <li class="page-item" th:classappend="${!page.hasPrevious()? 'disabled' : ''}">
                        <a class="page-link" th:href="@{'/'(page=${pageable.pageNumber - 1})}" tabindex="-1"
                           th:text="#{home.previous}"></a>
                    </li>

                    <th:block th:with="pages = (${page.totalPages} > 10 ? 10 : ${page.totalPages})">
                        <th:block th:each="item : ${#numbers.sequence(1, pages)}">
                            <li class="page-item" th:classappend="${item == pageable.pageNumber+1? 'active' : ''}">
                                <a class="page-link" th:href="@{/(page=${item-1},sort=${sort})}" th:text="${item}"></a>
                            </li>
                        </th:block>
                    </th:block>
                    <li class="page-item disabled" th:if="${page.getTotalPages() > 5}">
                        <a class="page-link" href="#">...</a>
                    </li>
                    <li class="page-item"
                        th:classappend="${!page.hasNext() || pageable.pageNumber >= 9? 'disabled' : ''}">
                        <a class="page-link" th:href="@{/(page=${pageable.pageNumber}+1)}" th:text="#{home.next}"></a>
                    </li>

                </ul>
            </nav>
        </div>
    </div>
</div>


<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>


</body>
</html>









