<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      lang="en">

<head>

    <title>Register Form</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
    <script    src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

    <style>
        .error {color:red}
    </style>

</head>

<body>

<div th:replace="fragments/navigation.html :: topBar" ></div>

<div class="d-flex justify-content-center">

    <div id="loginbox" style="margin-top: 30px;"
         class="mainbox col-md-3 col-md-offset-2 col-sm-6 col-sm-offset-2">

        <div class="panel panel-primary">

            <h5 class="panel-heading" th:text="#{registration.info}"></h5>

            <div style="padding-top: 15px" class="panel-body">

                <form th:action="@{/register/form-process}" th:object="${userDTO}" method="POST"
                      class="form-horizontal">

                    <div class="form-group">
                        <div class="col-xs-15">
                            <div>
                                <div th:if="${registrationError}" class="alert alert-danger col-xs-offset-1 col-xs-5">
                                    <span th:text="#{registration.sameUserError}"></span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- User name -->
                    <div style="margin-bottom: 15px" class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                        <input type="text" th:field="*{userName}" th:placeholder="#{registration.username}"
                               class="form-control" />
                    </div>
                    <div th:if="${#fields.hasErrors('userName')}" style="margin-bottom: 25px" class="text-danger">
                        <div>
                            <p th:each="err : ${#fields.errors('userName')}" th:text="${err}"></p>
                        </div>
                    </div>

                    <!-- Password -->
                    <div style="margin-bottom: 15px" class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                        <input type="password" th:field="*{password}" th:placeholder="#{registration.password}"
                               class="form-control" th:errorclass="fieldError" />
                    </div>
                    <div th:if="${#fields.hasErrors('password')}" style="margin-bottom: 25px" class="text-danger">
                        <div>
                            <p th:each="err : ${#fields.errors('password')}" th:text="${err}"></p>
                        </div>
                    </div>

                    <!-- Confirm Password -->
                    <div style="margin-bottom: 15px" class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                        <input type="password" th:field="*{matchingPassword}" th:placeholder="#{registration.psswConfirm}"
                               class="form-control" th:errorclass="fieldError" />
                    </div>
                    <div th:if="${#fields.hasErrors('matchingPassword')}" style="margin-bottom: 25px" class="text-danger">
                        <div>
                            <p th:each="err : ${#fields.errors('matchingPassword')}" th:text="${err}"></p>
                        </div>
                    </div>

                    <!-- First name -->
                    <div style="margin-bottom: 15px" class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                        <input type="text" th:field="*{firstName}" th:placeholder="#{registration.firstName}"
                               class="form-control" th:errorclass="fieldError" />
                    </div>
                    <div th:if="${#fields.hasErrors('firstName')}" style="margin-bottom: 25px" class="text-danger">
                        <div>
                            <p th:each="err : ${#fields.errors('firstName')}" th:text="${err}"></p>
                        </div>
                    </div>

                    <!-- Last name -->
                    <div style="margin-bottom: 15px" class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                        <input type="text" th:field="*{lastName}" th:placeholder="#{registration.lastName}"
                               class="form-control" th:errorclass="fieldError" />
                    </div>
                    <div th:if="${#fields.hasErrors('lastName')}" style="margin-bottom: 25px" class="text-danger">
                        <div>
                            <p th:each="err : ${#fields.errors('lastName')}" th:text="${err}"></p>
                        </div>
                    </div>

                    <!-- Email -->
                    <div style="margin-bottom: 15px" class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                        <input type="text" th:field="*{email}" th:placeholder="#{registration.email}"
                               class="form-control" th:errorclass="fieldError" />
                    </div>
                    <div th:if="${#fields.hasErrors('email')}"
                         style="margin-bottom: 25px" class="text-danger">
                        <div>
                            <p th:each="err : ${#fields.errors('email')}" th:text="${err}"></p>
                        </div>
                    </div>

                    <!-- Dropdown -->
                    <div class="input-group">
                            <select
                                    class="form-control selectpicker" th:field="*{type}" >
                                    <option th:each="type : ${userTypes}"
                                            th:value="${type.id}"
                                            th:text="#{${type.name}}" ></option>
                            </select>
                    </div>

                    <!-- Register Button -->
                    <div style="margin-top: 10px" class="form-group">
                        <div class="controls">
                            <button type="submit" class="btn btn-primary" th:text="#{registration.register}"></button>
                            <button type="reset" class="btn btn-light" th:text="#{registration.reset}"></button>
                        </div>
                    </div>

                </form>

            </div>

        </div>

    </div>

</div>

</body>
</html>